@import 'https://cdn.rawgit.com/picnicss/picnic/master/releases/v1.1.min.css';

* { box-sizing: border-box }
html, body, #main { width: 100%; overflow: auto; height: auto; }

table { margin: auto; }

nav {
  position: static;
  padding: 7px 1px 3px 1px;
}

#search {
  .rf-combobox {
    width: 80%;
    margin: auto;

    .rf-combobox-input {
      width: 95%;
    }
    .rf-combobox-list {
      padding: 0 18px;
    }
  }
}

#container {
  width: 87%;
  margin: 10px auto;
  height: auto;
  overflow: auto;

  & > * { margin: auto; }
}

.day {
  padding-right: 10px;

  textarea {
    width: 100%;
    min-height: 600px;
  }
}

.facts {
  padding-left: 10px;
}

