@import 'https://cdn.rawgit.com/picnicss/picnic/master/releases/v1.1.min.css';

* { box-sizing: border-box }
html, body, #main { width: 100%; overflow: auto; height: auto; }

table { margin: auto; }
h1 { text-align: center; }

.display-box {
  width: 200px;
  margin: auto;
  border: 20px solid #333;
  height: 200px;
  .label {
    text-align: center;
    font-size: 1.5em;
  }
  .value {
    text-align: center;
    font-size: 3em;
    line-height: 0;
    margin-top: -20px;
  }
}

nav {
  position: static;
  padding: 7px 1px 3px 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  border-bottom: 1px solid #ccc;
}
li:last-child { border: none; }
li a {
  text-decoration: none;
  color: #000;
  display: block;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

#search {
  max-width: 800px;

  li { font: 200 20px/1.5 Helvetica, Verdana, sans-serif; }
}
#container {
  width: 87%;
  margin: 10px auto;
  height: auto;
  overflow: auto;

  & > * { margin: auto; }
}

.day {
  padding-right: 10px;

  button {
    width: 70%;
    font-size: 110%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* codemirror */
  textarea {
    width: 100%;
    min-height: 600px;
  }
  .CodeMirror-vscrollbar { display: none }
  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }
  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }

  &.error .cm-s-blackboard {
    border-right: 60px rgb(228, 183, 210) solid
  }
  &.saved .cm-s-blackboard {
    border-right: 60px rgb(183, 228, 188) solid
  }
  &.local-cache .cm-s-blackboard {
    border-right: 60px rgb(183, 199, 228) solid
  }
}

#facts {
  padding-left: 10px;
  font-family: monospace;

  h3 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 6px;
  }

  th, td {
    padding: 0px 10px;
    font-size: 14px;
    text-align: right;
  }

  .compras div { text-align: center; font-weight: bold }
}

.cm-value_sep { color: blue }
.cm-price { color: red }
.cm-keyword { color: orange }
.cm-fornecedor { color: white; background-color: orange; }
.cm-s-blackboard .CodeMirror-selected { background: #898A85 !important; }
