* { box-sizing: border-box }
input:focus { outline: 0 }
html, body, #main { width: 100%; overflow: auto; height: auto; }

table { margin: auto; }
h1 { text-align: center; }

.display-box {
  width: 200px;
  margin: auto;
  border: 20px solid #333;
  height: 200px;
  .box-label {
    text-align: center;
    font-size: 1.5em;
    margin-top: 32px;
  }
  .box-value {
    text-align: center;
    font-size: 4em;
    line-height: 0;
  }
}

nav {
  position: static;
  padding: 7px 1px 3px 1px;

  button { margin-top: 12px; }
}

#container {
  width: 87%;
  margin: 10px auto;
  height: auto;
  overflow: auto;

  & > * { margin: auto; }
}

#search {
  max-width: 981px;

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #ccc;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  }
  li:last-child { border: none; }
  li a {
    text-decoration: none;
    color: #000;
    display: block;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
  li a:hover {
    font-size: 30px;
    background: #f6f6f6;
  }
  
  .item {
    clear: both;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .item h1 {
    font-size: 3em;
    text-align: right;
  }
  .item table td { font-size: 2em; }
}


#dias {
  tbody tr.bigger td { font-size: 2em; }
}

.day {
  padding-right: 10px;

  button {
    width: 70%;
    font-size: 110%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* codemirror */
  textarea {
    width: 100%;
    min-height: 600px;
  }
  .CodeMirror-vscrollbar { display: none }
  .CodeMirror {
    border: 1px solid #eee;
    font-size: 15px;
    height: auto;
  }
  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }

  &.error .cm-s-blackboard {
    border-right: 40px rgb(228, 183, 210) solid
  }
  &.saved .cm-s-blackboard {
    border-right: 40px rgb(183, 228, 188) solid
  }
  &.local-cache .cm-s-blackboard {
    border-right: 40px rgb(183, 199, 228) solid
  }
}

#facts {
  padding-left: 10px;
  font-family: monospace;

  h3 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 6px;
  }

  th, td {
    padding: 0px 10px;
    font-size: 14px;
    text-align: right;
  }

  .compras div { text-align: center; font-weight: bold }
}

.cm-value_sep { color: blue }
.cm-price { color: red }
.cm-keyword { color: orange }
.cm-fornecedor { color: white; background-color: orange; }
.cm-s-blackboard .CodeMirror-selected { background: #898A85 !important; }
